*{
    padding-top: 1%;
}
.logo{
    text-align: center;
    margin-right: 15%;
}
.form{
    width: 30%;
    text-align: center;
    margin-left: 40%;
    margin-right: 40%;
    padding: 15px;
}
.div .btn-primary{
    width: 100%;
    border-radius: 100mm;
    color: white;
}
.div a{
    text-decoration: none;
}
.text{
    font-weight: bolder;
    font-style: normal;
}